<aside id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
    <a href="/user/math">Matematik</a>
    <a href="/user/tur">Türkçe</a>
    <a href="/user/chem">Kimya</a>
    <a href="#">Contact</a>
</aside>

<script src="/js/script.js"></script>