<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="/">Ana Sayfa</a>
            <a href="/quiz">Kısa Sınav</a>
            <a href="/contact">İletişim</a>
            <a href="/register" class="btnLogin-popup">Kayıt Ol</a>

        </nav>
    </div>



   


    <div class="wrapper_1">
        <div class ="form-box login">
             <h3>Konu seç ve kendini test et.</h3>
        
                <a href="/register" class="btn_1">Hadi Başlayalım!</a>

                </div>
            </form>
        </div>





    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>