<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>




  <div class="wrapper_1">
   BURADA KULLANICININ SKORLARI TUTULACAK?
 
  </div>


  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>







  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

  
</body>

</html>