<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="#">Ana Sayfa</a>
            <a href="/quiz">Kısa Sınav</a>
            <a href="/contact.ejs">İletişim</a>
            <a href="/login" class="btnLogin-popup">Giriş Yap</a>
            <!-- <form action="/login" method="get">
                <button type="submit" class="btnLogin-popup">Giriş Yap</button>
              </form> -->
              
        </nav>
    </div>

    
    <div class="wrapper">
        <button class="icon-close">
            <ion-icon name="close-sharp"></ion-icon>
        </button>
        <div class="form-box register">
            <h2>Kayıt Ol</h2>
            <form action="/register" method="post">  
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-sharp"></ion-icon></span>
                    <input type="text" name="email" required>
                    <label>E-Posta</label>
                </div>   
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Şifre</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Beni Hatırla</label>
                    <a href="#">Şifreni mi unuttun?</a>
                </div>
                <button type="submit" class="btn">Kayıt Ol</button>
                <div class="login-register">
                    <p>Hesabın var mı?<a href="/login" class="login-link">Giriş Yap</a></p>
                </div>
            </form>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
