@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif'

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url('/img/desk-2325627.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-position 0.5s;
}



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.header a {
  color: #5F847C;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}




.logo {
  font-size: 2em;
  color: #5F847C;
  user-select: none;
}

.navigation a {

  position: relative;
  font-size: 1.1em;
  color: #5F847C;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;

}

.navigation a::after {
  /*home, about altındaki çizgiler bunlar*/
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #5F847C;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;

}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);

}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 1.1em;
  color: #5F847C;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;

}




.navigation .btnLogout {
  width: 130px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  font-size: 1.1em;
  color: #5F847C;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);

  justify-content: center;
  align-items: center;
  transition: transform .5s ease, height .2s ease;
  

}


.wrapper_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);

}

.wrapper_2 {
  position: relative;
  width: auto;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(17px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);    text-align: center;
    margin: 0 auto;
    display: none;
    margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 10px 60px;
  flex-direction: column;
  padding: 15px;

}

.wrapper_3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 10px 60px;
  flex-direction: column;
  padding: 15px;
  color: #5F847C;

}

.wrapper k {
  color: #5F847C;
  font-size: 1em;
}

.wrapper_2 .navbar {
  width: 100%;
  /* Genişlik 100% */
  max-width: 100%;
  cursor: pointer;
  z-index: 1;
}



.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  color: #5F847C;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: black;
  border-bottom: 2px solid black;
}

.content {
  width: 100%;
  /* Set the content width to match the wrapper */
  max-width: 100%;
  padding: 20px;
  /* Add padding for spacing */
  box-sizing: border-box;
  flex: 1;
  /* Fill the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.forms-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}


th{
  color:#5F847C;
}
td{
  color:#575757;
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* İsteğe bağlı: grafikleri yatayda merkezlemek için */
  gap: 40px; /* Grafikler arasındaki boşluğu ayarlayın */
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
  color:#575757;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}



.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #575757;
  font-size: 2em;
  color: #5F847C;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;


}
.scorePopup {
  position: fixed;
  width: auto;
  height: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  color:#575757;
  justify-content: center;
  align-items: center;


}
.newPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  background-color: white;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  

}

.close-image-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.centered-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
}






/* Style for the score table */
#scoreTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#scoreTable th,
#scoreTable td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

#scoreTable th {
  background-color: #f2f2f2 ;
  color: #5F847C;
}

#scoreTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#scoreTable tr:hover {
  background-color: #dddddd;
}




.close {
  float: right;
  font-size:  80px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #575757;
}


.options {
  display: block;
  margin-bottom: 10px;
  /* İstediğiniz boşluk değerini buradan ayarlayabilirsiniz */
}



.form-box h2 {
  font-size: 2em;
  color: #575757;
  text-align: center;
}

.form-box h3 {
  position: relative;
  font-size: large;
  color: #575757;
  text-align: center;

}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #575757;
  margin: 30px 0;

}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #575757;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input:not(:focus):not(:valid)~label {
  top: 50%;
}

.input-box input:not(:focus):not(:valid):placeholder-shown~label {
  top: 0;
}


.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #575757;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #575757;
  line-height: 57 px;

}

.remember-forgot {
  font-size: -9em;
  color: #575757;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;

}

.remember-forgot label input {
  accent-color: #575757;
  margin-right: 3px;



}

.remember-forgot a {
  color: #575757;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: none;
}

.btn {
  width: 100%;
  height: 45px;
  background: #DADADA;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #5F847C;
  font-weight: 500;


}

.btn_1 {
  width: 100%;
  height: 190px;
  background: #5F847C;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2em;
  line-height: 100px;
  color: #fff;
  font-weight: 500;
  margin: 25px 0 10px;
}


#loadQuestionsBtn {
  width: 100%;
  height: 90px;
  background: #5F847C;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2em;
  line-height: 100px;
  color: #fff;
  font-weight: 500;
  margin: 25px 0 10px;
}



.navigation-buttons {
  text-align: center;
  margin-top: 20px;
}

.navigation-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons #prevQuestionBtn {
  background-color: #575757;
  color: white;
}

.navigation-buttons #nextQuestionBtn {
  background-color: #5F847C;
  color: white;
}

.navigation-buttons #finishBtn {
  background-color: #5F847C;
  color: white;
}


#difficultyContainer {
  margin-top: 10px;
}

.difficulty-selection label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.difficulty-selection select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #5F847C;
  border-radius: 5px;
  color:#575757;
}

/* Stil seçeneklerini özelleştirme */
.difficulty-selection select option {
  font-size: 14px;
  background-color: #f2f2f2;
  color: #575757;
}

/* Seçilen öğeyi vurgulama */
.difficulty-selection select option:checked {
  background-color: #5F847C;
  color: white;
}

#options {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#options label {
  margin-bottom: 10px;
}


/* Soru kutuları */
.questions-answer-container {
  display: flex;
  height:700px;
  width:1200px;
  outline: none;
  border-radius: 6px;
}

#questionsContainer {
  flex: 4; 
  max-width: 900px;
  border: 2px solid #5F847C;
  outline: none;
  border-radius: 6px;
  align-items: center;
  overflow: auto;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Cevap kutucukları */
.answers {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: 2px solid #5F847C;
  outline: none;
  border-radius: 6px;
  max-width: calc(100% - 630px);
  margin-left: 10px;

}

.answer-box {
  width: calc(25% - 10px);
  height: 45px;
  border: 1px solid #ccc;
  margin: 5px 5px 2.5px 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
}
#clearSelectionBtn {
  background-color: #575757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#clearSelectionBtn:hover {
  background-color: #c82333;
}
a.btn-primary {
  background-color: #5F847C; /* Yeni arka plan rengi */
  color: white; /* Yeni metin rengi */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}


/* Cevap kutucukları */
.timer {
  flex: 1; 

  border: 2px solid #5F847C;
  outline: none;
  border-radius: 6px;
  max-width: calc(100% - 630px);
  margin-right: 10px;
}

.countdown {
  
  height: 45px;
  position:fixed;
  margin: 5px;
  justify-content: center;
  align-items: center;


}



.login.register {
  font-size: .9em;
  color:#575757;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;



}

navbar-nav .login.register p a {
  color:#575757;
  text-decoration: none;
  font-weight: 600;

}

.login-register p a:hover {
  text-decoration: underline;
}

/* ---------------------------------------------- */

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* ----------------------------------------- */
.modal {
  z-index: 1050;
}

.modal.fade .modal-dialog {
  transition: none;
}



.sidenav {
  height: 100%;
  width: 0;
  color:#5F847C;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #5F847C;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #575757;
}

.sidenav .closebtn {
  position: absolute;
  color:#5F847C;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    
  }

  .sidenav a {
    font-size: 18px;
  }
}

