<%- include('../includes/head.ejs') %>
  <%- include('../includes/nav.ejs') %>

    <div class="wrapper_2">
      <div class="difficulty-selection" id="difficultyContainer">
        <label for="difficulty">Zorluk Seviyesi Seçin:</label>
        <select id="difficulty">
          <option value="Kolay">Kolay</option>
          <option value="Orta">Orta</option>
          <option value="Zor">Zor</option>
        </select>
        <button id="loadQuestionsBtn" class="btn btn-load">Soruları Yükle</button>
      </div>
      <div class="questions-answer-container">
        <div class="timer" style="display: none;">
          <div class="countdown" id="countdown">00:00</div>
        </div>
        <div id="questionsContainer" style="display: none;">
          <!-- Sorular burada listelenecek -->

        </div>
        <div id="imagePopup" class="newPopup" style="display: none;">
          <div class="popup-content">
            <span class="close-image-popup">&times;</span>
            <div class="centered-image-container">
              <img src="" alt="Büyük Resim" id="popupImage" class="centered-image">
            </div>
          </div>
        </div>



        <div class="answers" style="display: none;">
         

         
          <!-- Kullanıcının cevaplarını göreceği kutucuklar burada yer alacak -->
          <button id="clearSelectionBtn" class="btn btn-primary">Seçimi Temizle</button>
        </div>

      </div>
      <div class="navigation-buttons" style="display: none;">
        <button id="prevQuestionBtn" class="btn btn-secondary">Geri</button>
        <button id="nextQuestionBtn" class="btn btn-primary">İleri</button>
        <!-- Bitir butonu için eklenen kısım -->
        <button id="finishBtn" class="btn btn-primary" style="display: none;">Bitir</button>
      </div>

    </div>

    <div id="questionTemplate" style="display: none;">
      <div class="container mt-sm-5 my-1">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
          <div class="image-container" style="max-width: 60%; margin: 0 auto; text-align: center;">
            <img src="" alt="Soru Resmi" style="max-width: 100%; height: auto;" id="questionImage">
          </div>
          <div class="py-2 h5"><b>currentIndex <span class="questionDescription"></span></b></div>
          <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <!-- Seçenekler burada görüntülenir -->
          </div>
        </div>
      </div>
    </div>


    <div id="popup" class="scorePopup" style="display: none;">
      <div class="popupContent">
        <span class="close">&times;</span>
        <div id="scoreForm">
          <table id="scoreTable" class="table">
            <thead>
              <tr>
                <th>Soru</th>
                <th>Durum</th>
                <th>Doğru Cevap</th>
              </tr>
            </thead>
            <tbody>
              <!-- Score results will be added here dynamically -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="/js/script.js">

    </script>
    <script>
      loadQuestionsForSubject('kimya');
    </script>


    </body>

    </html>