<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>


        <div class="wrapper_2">
            <div class="difficulty-selection">
                <label for="difficulty">Zorluk Seviyesi Seçin:</label>
                <select id="difficulty">
                  <option value="Kolay">Kolay</option>
                  <option value="Orta">Orta</option>
                  <option value="Zor">Zor</option>
                </select>
                <button id="loadQuestionsBtn" class="btn btn-primary">Soruları Yükle</button>
              </div>


        </div>






        </body>

        </html>